@import url('https://fonts.cdnfonts.com/css/lucida-console');

*,
*::before,
**::after {
  box-sizing: border-box;
  font-family: 'Lucida Console', monospace;
  font-weight: normal;
}

body {
  background: rgb(44, 94, 99);
  padding: 0;
  margin: 0;
}

.calculator-grid {
  min-height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(50px, auto) repeat(6, 100px);
}
.title {
  grid-column: 1 / -1;
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: rgb(34, 102, 50, 0.9);
  height: auto;
  border: gray solid 12px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 2rem;
  color: white;
  padding: 4px;
}
.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.4);
  outline: none;
  background-color: rgba(66, 170, 255, 0.75);
}
.calculator-grid > button:hover {
  background-color: rgba(66, 170, 255, 0.9);
}
.calculator-grid > button:active {
  box-shadow: inset 2px 2px 0px rgba(0, 0, 0, 0.2);
}
#func-button {
  background-color: rgb(94, 71, 58, 0.9);
}
#operation-button {
  background-color: rgb(34, 102, 50, 0.9);
}
#equal-button {
  background-color: rgba(255, 137, 69, 0.863);
}
.big-button {
  grid-column: span 2;
}
.output {
  grid-column: 1 / -1;
  background-color: rgb(170, 171, 162, 0.8);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  word-wrap: break-all;
  padding-right: 0.5rem;
}
.output .previous-calculation {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.6);
}
.output .current-calculation {
  font-size: 2.5rem;
  color: rgba(0, 0, 0);
}

.footer {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 16px;
}

.fa-github {
  color: rgba(255, 137, 69, 0.863);
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}
